@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    border: 2px solid gray;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    height: 80vh;
    max-width: 32rem;
    position: relative;
}